<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <label class="align"><b>Name</b></label>
      <mat-form-field class="name-box" appearance="outline">
        <mat-label><b>Name</b></mat-label>
        <input matInput placeholder="Ex John" formControlName="name">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="profilepicture">
        <label><b>Profile Picture</b></label>
        <mat-radio-button class="profile-radio-button" value="../../assets/profileimages/Ellipse -1.png">
          <img src="../../assets/profileimages/Ellipse -1.png" alt="">
        </mat-radio-button>
        <mat-radio-button value="../../assets/profileimages/Ellipse -3.png">
          <img src="../../assets/profileimages/Ellipse -3.png" alt="">
        </mat-radio-button>
        <mat-radio-button value="../../assets/profileimages/Ellipse -7.png">
          <img src="../../assets/profileimages/Ellipse -7.png" alt="">
        </mat-radio-button>
        <mat-radio-button value="../../assets/profileimages/Ellipse -9.png">
          <img src="../../assets/profileimages/Ellipse -9.png" alt="">
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-label><b>Gender</b></mat-label>
        <mat-radio-button class="gender-radio-button" value="male">Male</mat-radio-button>
        <mat-radio-button  value="female">Female</mat-radio-button>
        <mat-radio-button   value="others">Others</mat-radio-button>
      </mat-radio-group>
    </div>

    
    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="department">
        <mat-label><b>Department</b></mat-label>
        
        <mat-radio-button class="radio-button" value="HR">HR</mat-radio-button>
        <mat-radio-button  value="SALES">SALES</mat-radio-button>
        <mat-radio-button value="ENGINEER">ENGINEER</mat-radio-button>
        <mat-radio-button  value="FINANCE">FINANCE</mat-radio-button>
        <mat-radio-button  value="OTHER">OTHER</mat-radio-button>
      
      </mat-radio-group>
    </div>
   
    
    
    
    
    
    
    
    <div class="row">
      <label class="align"><b>Salary</b></label>

      <mat-form-field class="name-box" appearance="outline">
        <mat-label>SALARY</mat-label>
        <input matInput type="number" formControlName="salary">
      </mat-form-field>
    </div>

    <div class="row">
      <label  class="start-align"><b>StartDate</b></label>
    
      <mat-form-field class="start-name-box"  appearance="outline">
       
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startdate">
        
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>


    <div class="row">
      <label class="align"><b>Notes</b></label>
      <div>
        <input type="text" class="name-box"  placeholder="Enter text here" formControlName="notes">
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button [mat-dialog-close]="false">Cancel</button>
    <button color="accent" type="submit">{{data ? 'Update' : 'Save'}}</button>
  </div>
</form>
